In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [3]:
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

Number of columns in the data frame

In [5]:
df.shape[1]

12

Mean of the house prices

In [6]:
mean_price = df['price'].mean()
print(f"The mean of the house prices is: {mean_price}")

The mean of the house prices is: 234144.26395939087

Median of the house prices

In [7]:
median_price = df['price'].median()
print(f"The median of the house prices is: {median_price}")

The median of the house prices is: 213750.0

Find the different types of property in the dataset

In [8]:
print(f"Different types of property: {df['type'].unique()}")

Different types of property: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

 maximum price of a "condo" in the dataset

In [9]:
print(f"The maximum price of a condo is: {df[df['type'] == 'Condo']['price'].max()}")

The maximum price of a condo is: 360000

 mean of each type of property in the dataset

In [10]:
print(df.groupby('type')['price'].mean())

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

Find the count of different property types in dataset

In [11]:
print(df['type'].value_counts())

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64